/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.card {
  max-width: 340px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  gap: 16px;
}

img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.user-info {
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.username {
  font-size: 14px;
  color: #777;
}

.testimonial {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

p {
  text-align: left;
  
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}